{% extends 'base.html' %}

{% block body %}

<h2>Welcome to Habitika - Your own Habit Tracker!</h2><br>

<div>
  <form method='POST' action='/login'>
  <label>Username</label><br>
  <input name="username" type="email" placeholder="write your username"><br><br>
  <label>Password</label><br>
  <input name="password" type="password" placeholder="type your password"><br><br>
  <p><input value='Login' type='SUBMIT'></p>
</form>
</div>

<div>
  <form action="/new">
    <label>New Here?</label>
      <input value="Register" type="submit">
  </form>
</div>
{% endblock %}